
MAX_BOT = int(os.getenv("MAX_BOT", "100"))

DEVS = list(map(int, os.getenv("DEVS", "8393020548").split()))

API_ID = int(os.getenv("API_ID", "22564691"))

API_HASH = os.getenv("API_HASH", "e3a9fb11b93effccba295086169acefb")

BOT_TOKEN = os.getenv("BOT_TOKEN", "8755683502:AAGX2kMfN_ICRxUm_kheszOIgFZSPW4dc5U")

OWNER_ID = int(os.getenv("OWNER_ID", "8393020548"))

BLACKLIST_CHAT = list(map(int, os.getenv("BLACKLIST_CHAT", "-1002125842026 -1002053287763 -1002044997044 -1002022625433 -1002050846285 -1002400165299 -1002416419679 -1001473548283").split()))

RMBG_API = os.getenv("RMBG_API", "vtvM5oLtsF6shkqkn7b854i9")

MONGO_URL = os.getenv("MONGO_URL", "mongodb+srv://fizzpamell:fizzpamell@cluster0.9nmhi5m.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
LOGS_MAKER_UBOT = int(os.getenv("LOGS_MAKER_UBOT", "-4628173231"))
